@media (max-width : 405px){
    .form{     
        max-width: 360px;
        margin-top: 15px;
    }
    .group-item{    
        width: 320px;
        margin: 10px 20px;
        padding: 8px 10px;
    }
    .group-item2{
        margin: 10px 20px;
        width: 320px;
    }
   
    .btn2{
        margin:10px 10px  !important;
        width: 80px;
        padding: 8px 5px !important;
        
    }
}